header{
    width: 100%;
    height: 10%;
    background: #303036;
    color: #ffffff;
    position: sticky;
    top: 0;
}

.header-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-content .boton{
    position: absolute;
    right: 2.5%;
    top: 30%;
    cursor: pointer;
    z-index: 10;
}

.header-content .boton:hover{
    opacity: 0.5;
}

.panel{
    height: 25px;
}

.usuari{
    height: 20%;
    position: absolute;
    top: 0;
    right: 40%;
}

.boton{
    background-color: grey;
    border: none;
}

